/* =========================
   Button
========================= */
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    height: 40px;
    padding-inline: 20px;

    border-radius: 8px;
    background-color: #309689;

    font-size: 16px;
    font-weight: 600;
    color: #fff;

    transition: background-color 0.3s;
}
/* =========================
   Badge
========================= */
.badge {
    display: inline-flex;
    align-items: center;

    padding: 8px;
    border-radius: 8px;

    background-color: rgba(48, 150, 137, 0.1);
    color: #309689;

    font-size: 16px;
    font-weight: 400;
}
/* =========================
   Job Card
========================= */
.job-card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 40px;

    background-color: #fff;
    border-radius: 20px;
}
.job-card__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.job-card__main {
    display: flex;
    gap: 20px;
}
.job-card__contents {
    display: flex;
    flex-direction: column;
}
.job-card__title {
    font-size: 28px;
    font-weight: 600;
    color: black;
}
.job-card__subtitle {
    font-size: 16px;
    font-weight: 500;
    color: black;
}
.job-card__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.job-card__meta {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 24px;
}
.job-card__meta-item {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #4b5563;
}
.job-card__favorite {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    aspect-ratio: 1;
    cursor: pointer;
}
